{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br>
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}" style="color:#ab8ec2">Home</a></li>
    <li class="breadcrumb-item active" style="font-family: Questrial,serif">Mon panier</li>
  </ol>
</nav>

    <h2>Mon panier </h2>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Tickets</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for order in orders %}
      <td><img src="{{ order.event.image.url }}" width="200" height="210"></td>
      <td class="col-6">
          <!-- Nom artiste, nom concert et emplacement du ticket -->
       <h3><b> {{ order.event.place }}</b></h3>
          <br>
          <i>Emplacement choisi : {{order.ticket.emplacement}}</i>
            </td>
      <td> <p>Quantité: {{order.quantity }} <a class="fa fa-plus" href="{% url 'add_orderFromCart' order.id %}"></a> | <a href="{% url 'delete_orderFromCart' order.id %}" class="fa fa-minus"></a><br>
          Prix : {{ order.line_total }}<br></p>
          <a href="{% url 'delete_orderFromCart' order.id %}"> Retirer de mon panier </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
    <div class="text-center">
     <p>Prix total du panier : {{total}} € &emsp;&emsp;
         <a class="btn" id="paymentButton" style="background-color:#ab8ec2; color:whitesmoke"> Passer au paiement </a></p>
    <br>
    </div>
<a href="{% url 'delete_cart' %}" style="color:#ab8ec2"> Supprimer mon panier </a>

</div>
<br>
{% endblock %}