{% extends 'base.html' %}
{%  block content %}
<div class="container">
    <br>
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}" style="color:#ab8ec2">Home</a></li>
    <li class="breadcrumb-item active" style="font-family: Questrial,serif">Concerts</li>
  </ol>
</nav>
<h3>Les concerts à venir </h3>
<div class="row">
    {% for concert in concerts %}
  <div class="col-sm-6">
<div class="card" style="background-color: #f0e3fa; margin:10px; border-color: #ab8ec2; border-width: medium;">
  <img src="{{ concert.image.url }}" class="card-img-top" style="padding: 10px">
  <div class="card-body">
    <h4 class="card-title">{{ concert.artist.name }} - {{concert.tour.name }}</h4>
    <p class="card-text"> Concert à {{ concert.place }} le {{concert.date }} <br>
       A partir de : {{ ticketLowerPrice.price }} euros
        <br>
    Emplacements dispos : {%for emplacement in emplacements %}
        {{ emplacement.id }},
        {% endfor %}
    </p>
    <a href="{% url 'event_detail' concert.slug %}" class="btn" style="background-color:#ab8ec2; color:whitesmoke">Ca m'intéresse</a>
  </div>
</div>
      <br>
</div>
    {% endfor %}
</div>
</div>
{% endblock %}