{% extends 'base.html' %}
{%  block content %}
<h3>Page des concerts</h3>
<div class="row">
    {% for concert in concerts %}
  <div class="col-sm-6">
<div class="card">
  <img src="{{ concert.image.url }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ concert.artist.name }} - {{concert.tour.name }}</h5>
    <p class="card-text"> Concert à {{ concert.place }} le {{concert.date }} <br>
    Emplacements dispos : {%for emplacement in emplacements %}
        {{emplacement.name}},
        {% endfor %}
    </p>
    <a href="{% url 'event_detail' concert.slug %}" class="btn btn-primary">Ca m'intéresse</a>
  </div>
</div>
</div>
    {% endfor %}
</div>
{% endblock %}