{% extends 'base.html' %}

{% block content %}
<!-- Image de l'évenement, nom artiste, nomConcert, dateConcert, lieuConcert, Description du concert,
list des emplacements dispo, prix -->
<div class="container">
  <div class="row">
    <div class="col-4">
        <br>
<img src="{{ evenement.image.url }}" width="250" height="260">
    </div>
    <div class="col-8">
        <br>
    <h2><b>{{evenement.artist.name }}</b></h2>
        <h2><b>{% for artist in evenement.artists.all %}
      {{ artist.name }} -
        {%endfor%}</b></h2>
        <h2><i>Le {{evenement.date }} {{ evenement.startDate }} à {{ evenement.place }} </i></h2>
        <p>{{ evenement.description }}</p>
        {% if emplacements.count != null %}
        <select class="form-select" style="width: 200px;">
          {% for emplacement in emplacements %}
              <option value="{{emplacement.id}}">{{ emplacement.name }}</option>
          {% endfor %}
        </select>
        {% endif %}
        <b> A partir de {{ticketLowerPrice.price }} euros </b>
        <!-- Quand je sélectionne un emplacement : le prix du ticket correspondant à cet evenement et cet emplacement se met en ligne -->
        <br>
        <br>
        <a href="{% url 'add-to-cart' evenement.slug %}" class="btn btn-outline-primary">Ajouter au panier</a>

    </div>
  </div>
</div>
{% endblock %}