{% extends 'base.html' %}

{% block content %}
<!-- Image de l'évenement, nom artiste, nomConcert, dateConcert, lieuConcert, Description du concert,
list des emplacements dispo, prix -->
<div class="container">
  <div class="row">

    <div class="col-4">
        <br>
<img src="{{ evenement.image.url }}" width="250" height="260">
    </div>
    <div class="col-8">
        <br>
        <form action="/add_to_cart/" method="POST" >
            {% csrf_token %}
            <input name="slug" value="{{ evenement.slug }}" hidden>
    <h2>{{evenement.artist.name }}</h2>
        <h2>{% for artist in evenement.artists.all %}
      {{ artist.name }} -
        {%endfor%}</h2>
        <h2>Le {{evenement.date }} {{ evenement.startDate }} à {{ evenement.place }}</h2>
        <p>{{ evenement.description }}</p>
        {% if emplacements is not None %}
        <select name="emplacement" class="form-select" style="width: 200px;">
          {% for emplacement in emplacements %}
              <option value="{{ emplacement.emplacement_id }}">{{ emplacement.emplacement__name }}</option>
          {% endfor %}
        </select>
            {% endif %}
        <b> Prix : {{ticketLowerPrice.price }} euros </b>
        <br>
        <br>
            <button type="submit" class="btn" style="background-color:#ab8ec2; color:whitesmoke">Ajouter au panier</button>
        </form>

    </div>
  </div>
    <br>
</div>
{% endblock %}