{% extends 'base.html' %}

{%  block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./media/carousel1.jpg" class="d-block w-100" height="300">
    </div>
    <div class="carousel-item">
      <img src="./media/carousel2.jpg" class="d-block w-100" height="300">
    </div>
    <div class="carousel-item">
      <img src="./media/carousel3.jpg" class="d-block w-100" height="300">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <div class="container text-center">
  <div class="row align-items-start">
      <p>Bientôt complet </p>
      {% for evenement in evenements %}
      {% if evenement.tickets.count <= 10 %}
      <p> {{ evenement.place }} </p>
      {% else %}

      {% endif %}
      {% endfor %}
      <h1>Liste des concerts</h1>
    {% for concert in concerts %}
      <div class="col">
          <h1>{{ concert.artist.name }}</h1>
          <a href="{% url 'event_detail' concert.slug %}"><h2>{{ concert.tour.name }} - {{ concert.place}}</h2></a>
          <p>{{ concert.date }}</p>
   <p>Emplacements dispos : fosse, place assise</p>
<img src="{{ concert.image.url }}" alt="{{ concert.tour.name }}" width="150" height="160">
    </div>
      {% endfor %}
      <br>
        <h1>Liste des festivals</h1>
    {% for festival in festivals %}
      <div class="col">
          <h1>Liste des 3 premiers artistes</h1>
          <a href="{% url 'event_detail' festival.slug %}"><h2> {{ festival.name }} - {{ festival.place}}</h2></a>
          {%for artist in festival.artists.all %}
          <p> {{ artist.name }} </p>
          {% endfor %}
          <p>Du {{ festival.startDate }} au {{ festival.finishDate }} </p>
   <p>Emplacements dispos : fosse, place assise</p>
<img src="{{ festival.image.url }}" width="150" height="160">
    </div>
      {% endfor %}
  </div>
</div>
<br>
</div>
{% endblock %}