{% extends 'base.html' %}

{%  block content %}
<div class="container">
    <div class="container text-center">
  <div class="row align-items-start">
      <h1>Liste des concerts</h1>
    {% for concert in concerts %}
      <div class="col">
          <a href="{% url 'event_detail' concert.slug %}"> <h1>{{ concert.artist.name }}</h1></a>
          <h2>{{ concert.tour.name }} - {{ concert.place}}</h2>
          <p>{{ concert.date }}</p>
   <p>Emplacements dispos : fosse, place assise</p>
<img src="{{ concert.image.url }}" alt="{{ concert.tour.name }}" width="150" height="160">
    </div>
      {% endfor %}
      <br>
        <h1>Liste des festivals</h1>
    {% for festival in festivals %}
      <div class="col">
          <h1>Liste des 3 premiers artistes</h1>
          <a href="{% url 'event_detail' festival.slug %}"><h2> {{ festival.name }} </h2></a> <h2> - {{ festival.place}}</h2>
          {%for artist in festival.artists.all %}
          <p> {{ artist.name }} </p>
          {% endfor %}
          <p>Du {{ festival.startDate }} au {{ festival.finishDate }} </p>
   <p>Emplacements dispos : fosse, place assise</p>
<img src="{{ festival.image.url }}" width="150" height="160">
    </div>
      {% endfor %}
  </div>
</div>
<br>
</div>
{% endblock %}