{% extends 'base.html' %}
{%  block content %}
<br>
<div class="container">
    <h1> Mentions légales </h1>
    <br>
    <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Ipséité l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
<h2>Edition du site</h2>

<p>Le présent site, accessible à l’URL ipseite.fr (le « Site »), est édité par :

Thaïs Brun, résidant 2 rue de l'échappée 75010 PARIS, de nationalité Française (France), né(e) le 10/09/2002. </p>

<h2>Hébergement </h2>

<p>Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007). </p>

<h2>Directeur de publication </h2>

<p>Le Directeur de la publication du Site est Thaïs Brun.</p>

<h2>Nous contacter</h2>
<p>
Par téléphone : +33612345678
Par email : ipseite@gmail.com
Par courrier : 2 rue de l'échappée 75010 PARIS
</p>
<h2>Données personnelles</h2>

<p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>
</div>
{% endblock %}