{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br>
    <div class="row">
        <br>
        <br>
<div class="card text-center">
    <h5 class="card-header">Connexion</h5>
  <div class="card-body">
    <a class="card-subtitle sm text-body-secondary" style="color:black;" href="{% url 'signup' %}">Pas de compte ? Créez le ici</a>
    <p class="card-text">
<form method="POST" action="">
    {% csrf_token %}
      <div class="row">
  <div class="col-3">
        <label for="username" class="form-label">Pseudo : </label>
  </div>
      <div class="col-9">
        <input id="username" name="username" type="text" class="form-control">
  </div>
      </div>
      <br>
            <div class="row">
      <div class="col-3">
        <label for="password" class="form-label">Mot de passe : </label>
      </div>
      <div class="col-9">
        <input id="password" name="password" type="password" class="form-control">
      </div>
            </div>
      <br>
    <button type="submit" class="btn btn-info">Me connecter</button>
</form>
  </div>
</div>
    </div>
</div>
<br>
{% endblock %}