{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
{% if user.is_authenticated %}
        <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}" style="color:#ab8ec2">Home</a></li>
    <li class="breadcrumb-item active" style="font-family: Questrial,serif">Mon profil</li>
  </ol>
</nav>
    <form method="POST" name="account_modification" onsubmit="return validateUserForm()" action="">
            {% csrf_token %}
        <h3> Mes informations de profil </h3>
        <br>
          <div class="row">
    <div class="col">
        <label for="first_name" style="font-weight: bold; color: #ab8ec2;">Prénom</label>
    <input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.first_name }}" style="border-color: #ab8ec2;">
    </div>
       <div class="col">
    <label for="last_name" style="font-weight: bold; color: #ab8ec2;">Nom</label>
    <input type="text" class="form-control" name="last_name" id="last_name" value="{{ user.last_name }}" style="border-color: #ab8ec2;">
  </div>
          <div class="col">
    <label for="last_name" style="font-weight: bold; color: #ab8ec2;">Mail</label>
    <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}" style="border-color: #ab8ec2;">
  </div>
        <div class="col">
        <label for="username" style="font-weight: bold; color: #ab8ec2;">Pseudo</label>
        <input id="username" name="username" type="text" class="form-control" value="{{ user.username }}" style="border-color: #ab8ec2;">
        </div>
          </div>
<br>
  <button type="submit" class="btn btn-dark" style="margin-bottom: 20px">Modifier mon profil </button>

  <div class="row">
    <div class="col-9">
    </div>
    <div class="col-3">
      <a href="{% url 'delete_user' %}"class="link-opacity-50" style="color:#ab8ec2">Supprimer mon profil </a>
    </div>
  </div>
        <div class="row">
      <h3 style="color:#ab8ec2">Mes dernières commandes : </h3>
              <br>
            <br>
        {% for order in orders %}
    <div class="col-3">
        <p> <b>Commande n°{{order.id}}</b>
            <br>
            Passée le : {{ order.orderDate }}
            <br>
        Envoyée à l'adresse : {{ order.user.email }}
            <br>
        Quantité : {{ order.quantity }}
            <br>
            Total : A coder
            <br>
            Lieu : {{order.event.place}}
            <br>
        </p>
    </div>
    <div class="col-4">
            <img src="{{ order.event.image.url }}" width="150" height="160">
    </div>
        {% endfor %}
          </div>
        <br>
<br>
    </form>
</div>
<br>
{%endif %}
{% endblock %}